.maquetar{

	display: flex;
	flex-direction: row;
	
}

.aside{
	background: tomato;
	border-style: solid ;
	height: 1000px;
	width: 200px; 
	margin-top: 2em;
	color:white;
}

.nav{
	
	border-style: solid ;
	height: 50px;
	width: 100%;
	/*position:fixed;*/
	background: tomato; 
}
.nav p{
	width: 200px;
	display: inline-block;
	color: white;
	margin-left: 2em;
}
/*label{
	color:grey;
}*/
.section{
	margin-top: 2em;
	border-style: solid ;
	height: 1000px;
	width: 1200px; 
}

button{
	margin-bottom: :1em;
	
}
.contenido{
	color:grey;
}